@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "Anonymous Pro";
	font-style: normal;
	src: url("fonts/AnonymousPro-Regular.ttf");
}

@font-face {
	font-family: "Anonymous Pro";
	font-style: italic;
	src: url("fonts/AnonymousPro-Italic.ttf");
}

:root {
	color-scheme: light dark;
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: auto;
	padding: 16px;
	max-width: 800px;
	background-color: light-dark(white, black);
	background-image: url("images/background.webp");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: "Montserrat", sans-serif;
	color: light-dark(black, white);
}

header, .postGrid div, footer div, h3, main > h4, main > p, main > ul {
	padding: 16px;
	margin-bottom: 16px;
	background-color: light-dark(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6));
	border-radius: 16px;
}

h1 {
	font-size: 40px;
}

header a {
	color: light-dark(black, white);
	text-decoration: none;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 32px;
}

h4 {
	margin-bottom: 8px;
	font-size: 24px;
}

p, ul {
	font-size: 16px;
}

a {
	color: light-dark(hsl(221, 87%, 60%), hsl(187, 47%, 55%));
}

main > p {
	overflow-y: hidden;
	img {
		width: 35%;
		float: right;
		margin-left: 16px;
		margin-bottom: 16px;
	}
}

ul {
	padding-left: 32px;
}

main > ul > li::marker {
	font-size: 0;
}

figure img, video {
	width: 100%;
	border-radius: 16px;
	margin-bottom: 16px;
}

.video-container {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
	border-radius: 16px;
	margin-bottom: 16px;
}
.video-container iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.tagGroup {
	display: none;
	&:target {
		display: block;
	}
}

.postGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 16px;
	@media (width <= 640px) {
		grid-template-columns: 1fr 1fr;
	}
	@media (width <= 480px) {
		grid-template-columns: 1fr;
	}
}

.tags {
	line-height: 2.5em;
}

.category, .tag {
	padding: 4px;
	border: solid 1px;
	border-radius: 16px;
	text-decoration: none;
}

.category {
	color: light-dark(hsl(5, 74%, 59%), hsl(355, 65%, 65%));
	border-color: light-dark(hsl(5, 74%, 59%), hsl(355, 65%, 65%));
}

.tag {
	color: light-dark(hsl(301, 63%, 40%), hsl(286, 60%, 67%));
	border-color: light-dark(hsl(301, 63%, 40%), hsl(286, 60%, 67%));
}

div.highlighter-rouge {
	padding: 16px;
	margin-bottom: 16px;
	background-color: light-dark(hsl(230, 1%, 98%), hsl(220, 13%, 18%));
	border-radius: 16px;
	overflow-x: scroll;
	tab-size: 4;
	code {
		font-family: "Anonymous Pro", monospace;
		font-size: 16px;
		color: light-dark(hsl(230, 8%, 24%), hsl(220, 14%, 71%));
	}
	.c1 {
		color: light-dark(hsl(230, 4%, 64%), hsl(220, 10%, 40%));
		font-style: italic;
	}
	.kt, .nc {
		color: light-dark(hsl(198, 99%, 37%), hsl(187, 47%, 55%)); /* cyan */
	}
	.nf {
		color: light-dark(hsl(221, 87%, 60%), hsl(207, 82%, 66%)); /* blue */
	}
	.k, .ow, .kd {
		color: light-dark(hsl(301, 63%, 40%), hsl(286, 60%, 67%)); /* purple */
	}
	.s, .s2 {
		color: light-dark(hsl(119, 34%, 47%), hsl(95, 38%, 62%)); /* green */
	}
	.n, .na, .nx {
		color: light-dark(hsl(5, 74%, 59%), hsl(355, 65%, 65%)); /* red */
	}
	.mf, .mi, .nb, .m, .bp, .kc {
		color: light-dark(hsl(35, 99%, 36%), hsl(29, 54%, 61%)); /* orange */
	}
}

code.highlighter-rouge {
	padding: 0 4px;
	background-color: light-dark(hsl(230, 1%, 98%), hsl(220, 13%, 18%));
	font-family: "Anonymous Pro", monospace;
	font-size: 16px;
	color: light-dark(hsl(230, 8%, 24%), hsl(220, 14%, 71%));
}
