body {
	margin: auto;
	max-width: 800px;
	background-color: black;
}

h1, p {
	font-family: monospace;
	font-size: 16px;
	color: white;
}

h1 {
	font-weight: bold;
}

.tagGroup {
	display: none;
	&:target {
		display: block;
	}
}

.postGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 16px;
	row-gap: 16px;
}

.postGrid div {
	border: 2px solid white;
	border-radius: 8px;
	padding: 8px;
}