---
---

{% for category in site.categories %}
	<div id="{{ category[0] }}" class="tagGroup">
		<h3>Category: {{ category[0] }}</h3>
		<div class="postGrid">
			{% for post in category[1] %}
				<div>
					<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
					<p>
						{% for postCat in post.categories %}
							<a href="#{{ postCat }}">{{ postCat }}</a>
						{% endfor %}
						{% for postTag in post.tags %}
							<a href="#{{ postTag }}">{{ postTag }}</a>
						{% endfor %}
					</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endfor %}

{% for tag in site.tags %}
	<div id="{{ tag[0] }}" class="tagGroup">
		<h3>Tag: {{ tag[0] }}</h3>
		<div class="postGrid">
			{% for post in tag[1] %}
				<div>
					<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
					<p>
						{% for postCat in post.categories %}
							<a href="#{{ postCat }}">{{ postCat }}</a>
						{% endfor %}
						{% for postTag in post.tags %}
							<a href="#{{ postTag }}">{{ postTag }}</a>
						{% endfor %}
					</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endfor %}
