<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		{% if page.title %}
			<title>{{ page.title }} - {{ site.title }}</title>
		{% else %}
			<title>{{ site.title }}</title>
		{% endif %}
		<meta charset="utf-8">
		<meta name="description" content="{{ page.description }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/style.css">
		<link rel="alternate" type="application/rss+xml" href="/rss.xml">
		{% if page.redirect %}
			<meta http-equiv="refresh" content="0; URL='{{ page.redirect }}'">
		{% endif %}
	</head>
	<body>
		{{ content }}
	</body>
</html>
