---
layout: base
---

<header>
	<h4>Kasper Andersson Brandt</h4>
	<h4>Programmer</h4>
</header>

<main>
	<h3>{{ page.title }}</h3>
	<p class="tags">
		{% for category in page.categories %}
			<a href="tag#{{ category }}" class="category">{{ category }}</a>
		{% endfor %}
		{% for tag in page.tags %}
			<a href="tag#{{ tag }}" class="tag">{{ tag }}</a>
		{% endfor %}
	</p>
	<p>
		{{ page.description }}
		{% if page.web or page.code %}
			<br><br>
		{% endif %}
		{% if page.web %}
			<a href="{{ page.web }}" class="icon" target="_blank">
				{% include web.html %}
			</a>
		{% endif %}
		{% if page.code %}
			<a href="{{ page.code }}" class="icon" target="_blank">
				{% include github.html %}
			</a>
		{% endif %}
	</p>
	{{ content }}
</main>
